.hero {
	position: relative;
	min-height: 35vh;
	text-align: center;
}

.mouse {
	/* max-width: $mouse-width; */
	width: 30%;
	height: auto;
}

.scroll {
	animation-name: scroll;
	animation-duration: 1.5s;
	animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
	animation-iteration-count: infinite;
	transform-origin: 50% 20.5px;
	will-change: transform, opacity;
	opacity: 1;
}

.scroll-link {
	position: absolute;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
}

@keyframes scroll {

	0%, 20% {
		transform: translateY(0) scaleY(1);
	}

	100% {
		transform: translateY(36px) scaleY(2);
		opacity: 0;
	}

}

body
{ 
	margin: 0;
	font-size: 1.1em;
	background: url('../Image/background.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}

/* header {
	background-image: linear-gradient(to bottom,  rgba(0,0,0,0.75) -10%,rgba(0,0,0,0) 100%);
	text-align: center;
	padding: 0.5rem 0 5rem;
	font-size: 1.25rem;
} */

/* ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	display: inline-flex;
} */

.lien {
	cursor: pointer;
}

.textTab {
	font-family: 'firamonobold', cursive;
	position: relative;
	color: #fff;
	font-size: 2rem;
	padding-left: 150px;
}

th, td {
	border-radius: 20px;
	border-color: rgb(65, 63, 66);
}

.Menu
{
	margin-top: -2%;
	font-family: 'Lobster Two', cursive;
	font-size: 3rem;
	text-align: center;
	color: rgb(110, 204, 175);
}

.presentation
{	
	margin-top: 4%;
	margin-left: 5%;
}

.text
{
	position: relative;
	right: 30%;
	color: white;
	font-size: 1.2em;
}

.reseaux
{
	margin: 0 1.5rem;
	width: 50px;
	height: auto;
}

.logo
{
	width: 300px;
	height: auto;
}

h2 {
	color: #22A39F;
	font-family: 'Lobster Two', cursive;
	text-transform: uppercase;	
}

.lien {
	color:#9df2fd;
	text-decoration: none;
}

.lien:hover {
	text-decoration: underline;
}

.info {
	min-height: 40vh;
	display: flex;
	text-align: center;
	flex-direction: column;
	margin-bottom: 5%;
    margin-top: 50px;
	color: white;
	font-family: 'firamonobold', cursive;
	position: relative;
	font-size: 2rem;
}

.content {
	margin-left: 30px;
	margin-right: 30px;
	font-size: 1.6rem;
}

.cardBox {
	float: left;
	font-size: 1.2em;
	margin: 0 0 0 0.5%;
	perspective: 800px;
	transition: all 0.4s ease 0s;
	width: 100%;
}
.cardBox:hover .card {
	transform: rotateY(180deg);
}
.card {
	background: url('../Image/EV.jpg');
	background-size: 100% 100%;
	cursor: pointer;
	height: 300px;
	transform-style: preserve-3d;
	transition: transform 0.5s ease 0s;
	width: 100%;
	border-radius: 10%;
}
.card p {
	margin-bottom: 1.8em;
}
.card .front,
.card .back {
	backface-visibility: hidden;
	box-sizing: border-box;
	color: white;
	display: block;
	font-size: 1.2em;
	height: 100%;
	padding: 0.8em 0.7em;
	position: absolute;
	text-align: center;
	width: 100%;
	border-radius: 10%;
}
.card .front strong {
	background: #fff;
	border-radius: 100%;
	color: #222;
	font-size: 1.5em;
	line-height: 30px;
	padding: 0 7px 4px 6px;
}
.card .back {
	transform: rotateY( 180deg);
}
.card .back a {
	padding: 0.3em 0.5em;
	background: #333;
	color: #fff;
	text-decoration: none;
	border-radius: 1px;
	font-size: 0.9em;
	transition: all 0.2s ease 0s;
}
.card .back a:hover {
	background: #fff;
	color: #333;
	text-shadow: 0 0 1px #333;
}
.cardBox:nth-child(1) .card .back {
	background: url('../Image/logo_Dragon.png');
}
.cardBox:nth-child(2) .card .back {
	background: #1c87c9;
}
.cardBox:nth-child(3) .card .back {
	background: #ff6347;
}
.cardBox:nth-child(4) .card .back {
	background: #8ebf42;
}
.cardBox:nth-child(2) .card {
	-webkit-animation: giro 1.5s 1;
	animation: giro 1.5s 1;
}
.cardBox:nth-child(3) .card {
	-webkit-animation: giro 2s 1;
	animation: giro 2s 1;
}
.cardBox:nth-child(4) .card {
	-webkit-animation: giro 2.5s 1;
	animation: giro 2.5s 1;
}
@-webkit-keyframes giro {
	from {
	transform: rotateY(180deg);
	}
	to {
	transform: rotateY(0deg);
	}
}
@keyframes giro {
	from {
	transform: rotateY(180deg);
	}
	to {
	transform: rotateY(0deg);
	}
}
@media screen and (max-width: 767px) {
.cardBox {
	margin-left: 2.8%;
	margin-top: 3%;
	width: 46%;
}
.card {
	height: 285px;
}
.cardBox:last-child {
	margin-bottom: 3%;
}
}
@media screen and (max-width: 480px) {
.cardBox {
	width: 94.5%;
}
.card {
	height: 260px;
}
}