
body {
	margin: 0;
	background: url('../Image/background.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	font-family: 'Space Mono', monospace;
	font-size: x-large;
}

h2 {
	color: #22A39F;
	font-family: 'Space Mono', monospace;
	text-align: center;
}

span {
	font-family: 'Inconsolata', monospace;
	padding: 3px;
}
span.dev {
	background-color: #000;
	color: #fff;
	margin: 3px;
}
span.animation {
    border-right: solid 3px #B84B9B;
    font-family: 'Assistant', sans-serif;  
    padding: 0px;
    -webkit-animation: animated-cursor 600ms infinite;
            animation: animated-cursor 600ms infinite;
}
@-webkit-keyframes animated-cursor{
	from {	border-right-color: #B84B9B;}
	to {border-right-color: transparent;}
}
@keyframes animated-cursor{
    from {border-right-color: #B84B9B;}
    to {border-right-color: transparent;}
}

.hero {
    position: relative;
	text-align: center;
}

.mouse {
	max-width: 8%;
	min-width: 70px;
	height: auto;
}

.scroll {
	animation-name: scroll;
	animation-duration: 1.5s;
	animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
	animation-iteration-count: infinite;
	transform-origin: 50% 20.5px;
	will-change: transform, opacity;
	opacity: 1;
}
@keyframes scroll {

	0%, 20% {transform: translateY(0) scaleY(1);}
	100% {
		transform: translateY(36px) scaleY(2);
		opacity: 0;
	}
}

.lien {cursor: pointer;}

.textTab {
	/* font-family: 'firamonobold', cursive; */
	position: relative;
	color: #fff;
	font-size: larger;
	padding-left: 150px;
}
#helloText{font-size: 3rem;}

.lien {
	color:#9df2fd;
	text-decoration: none;
}
.lien:hover {text-decoration: underline;}

.info {
	/* font-size: 1.6rem; */
	margin: 0% 3% 3% 3%;
	color: white;
	font-family: 'firamonobold', cursive;
}

.cardBox {
	float: left;
	/* font-size: 1.2em; */
	margin: 0 0 0 0.5%;
	perspective: 800px;
	transition: all 0.4s ease 0s;
	width: 100%;
}
.cardBox:hover .card {transform: rotateY(180deg);}
.card {
	background: url('../Image/EV.jpg');
	background-size: 100% 100%;
	cursor: pointer;
	height: 300px;
	transform-style: preserve-3d;
	transition: transform 0.5s ease 0s;
	width: 100%;
	border-radius: 10%;
}
.card p {margin-bottom: 1.8em;}
.card .front,
.card .back {
	backface-visibility: hidden;
	box-sizing: border-box;
	color: white;
	display: block;
	/* font-size: 1.2em; */
	height: 100%;
	padding: 0.8em 0.7em;
	position: absolute;
	text-align: center;
	width: 100%;
	border-radius: 10%;
}
.card .front strong {
	background: #fff;
	border-radius: 100%;
	color: #222;
	/* font-size: 1.5em; */
	line-height: 30px;
	padding: 0 7px 4px 6px;
}
.card .back {
	transform: rotateY( 180deg);
}
.card .back a {
	padding: 0.3em 0.5em;
	background: #333;
	color: #fff;
	text-decoration: none;
	border-radius: 1px;
	/* font-size: 0.9em; */
	transition: all 0.2s ease 0s;
}
.card .back a:hover {
	background: #fff;
	color: #333;
	text-shadow: 0 0 1px #333;
}
.cardBox:nth-child(1) .card .back {
	background: url('../Image/logo_Dragon.png');
}
.cardBox:nth-child(2) .card .back {
	background: #1c87c9;
}
.cardBox:nth-child(3) .card .back {
	background: #ff6347;
}
.cardBox:nth-child(4) .card .back {
	background: #8ebf42;
}
.cardBox:nth-child(2) .card {
	-webkit-animation: giro 1.5s 1;
	animation: giro 1.5s 1;
}
.cardBox:nth-child(3) .card {
	-webkit-animation: giro 2s 1;
	animation: giro 2s 1;
}
.cardBox:nth-child(4) .card {
	-webkit-animation: giro 2.5s 1;
	animation: giro 2.5s 1;
}
@-webkit-keyframes giro {
	from {transform: rotateY(180deg);}
	to {transform: rotateY(0deg);}
}
@keyframes giro {
	from {transform: rotateY(180deg);}
	to {transform: rotateY(0deg);}
}

.containerTab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
	margin: 4% 0% 0% 5%;
}

.social-icons {
    display: flex;
    flex-direction: column;
	height: auto;
}

.social-link {
	margin-top: 15px;
    margin-bottom: 15px;
}

.social-icon {
    width: 50px;
    height: auto;
}

.profile-picture {
    flex: 1;
    text-align: center;
    max-width: 300px;
	height: auto;
	padding-left: 30px;
}

.text-content {
    flex: 2;
    padding-left: 20px;
}

@media screen and (max-width: 850px) {
	body, .textTab {font-size: larger;}
	#helloText {font-size: 2.5rem;}

    .containerTab {
        flex-direction: column;
        align-items: center;
		padding: 0;
		margin: 4% 0% 5% 5%;
    }

    .social-icons {
        flex-direction: row;
        justify-content: center;
    }

    .social-link {margin: 0 30px;}

    .profile-picture {
        padding: 45px 0; /* Ajuste le padding */
		max-width: 300px;
    	width: -webkit-fill-available;
    }

	.textTab, .text-content {padding-left: 0;}
}