
a {
	color: white;
	text-decoration: none;
}

h2 {
	color: #22A39F;
	font-family: 'Space Mono', monospace;
	text-align: center;
}
h3 {
	text-align: center;
	border: solid;
}
/* 
span {
	font-family: 'Inconsolata', monospace;
	padding: 3px;
} */
span.dev {
	background-color: #000;
	color: #fff;
	margin: 3px;
}
span.animation {
    border-right: solid 3px #B84B9B;
    font-family: 'Assistant', sans-serif;  
    padding: 0px;
    -webkit-animation: animated-cursor 600ms infinite;
            animation: animated-cursor 600ms infinite;
}
@-webkit-keyframes animated-cursor{
	from {	border-right-color: #B84B9B;}
	to {border-right-color: transparent;}
}
@keyframes animated-cursor{
    from {border-right-color: #B84B9B;}
    to {border-right-color: transparent;}
}

.hero {
    position: relative;
	text-align: center;
}

.mouse {
	width: 70px;
	height: auto;
}

.scroll {
	animation-name: scroll;
	animation-duration: 1.5s;
	animation-timing-function: cubic-bezier(0.650, -0.550, 0.250, 1.500);
	animation-iteration-count: infinite;
	transform-origin: 50% 20.5px;
	will-change: transform, opacity;
	opacity: 1;
}
@keyframes scroll {

	0%, 20% {transform: translateY(0) scaleY(1);}
	100% {
		transform: translateY(36px) scaleY(2);
		opacity: 0;
	}
}

.lien {cursor: pointer;}

.textTab {
	/* font-family: 'firamonobold', cursive; */
	position: relative;
	color: #fff;
	font-size: larger;
	padding-left: 150px;
}
#helloText{font-size: 3rem;}

.lien {
	color:#9df2fd;
	text-decoration: none;
}
.lien:hover {text-decoration: underline;}

.info {
	/* font-size: 1.6rem; */
	margin: 5% 3% 3% 3%;
	color: white;
	font-family: 'firamonobold', 'Space-mono', monospace, "sans-serif";
}

.cardBox {
	float: left;
	margin: 0 0 0 0.5%;
	perspective: 800px;
	transition: all 0.4s ease 0s;
	width: 100%;
}
.cardBox:hover .card {transform: rotateY(180deg);}
.card {
	background: url('../Image/Photo_Pro_S.png');
	background-size: 100% 100%;
	cursor: pointer;
	height: 300px;
	transform-style: preserve-3d;
	transition: transform 0.5s ease 0s;
	width: 300px;
	border-radius: 10%;
}
.card .front,
.card .back {
	backface-visibility: hidden;
	box-sizing: border-box;
	color: white;
	display: block;
	height: 100%;
	padding: 0.8em 0.7em;
	position: absolute;
	text-align: center;
	width: 100%;
	border-radius: 10%;
}
.card .back {
	transform: rotateY( 180deg);
}
.cardBox:nth-child(1) .card .back {
	background: url('../Image/EV.jpg');
	background-size: 100% 100%;
}

.containerTab {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
	margin: 4% 4% 5% 5%;
}

.social-icons {
    display: flex;
    flex-direction: column;
	height: auto;
}

.social-link {
	margin-top: 15px;
    margin-bottom: 15px;
}

.social-icon {
    width: 50px;
    height: auto;
}

.profile-picture {
    flex: 1;
    text-align: center;
    max-width: 300px;
	height: auto;
	padding-left: 30px;
}

.text-content {
    flex: 2;
    padding-left: 20px;
}

.skills-icons {
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.skills-icons-self {
	height: 70px;
	width: auto;
	margin: 15px;
} .skills-icons-self:hover {scale: 1.25; transition: 0.15s;}
#see-more-skills {
	border: 4px solid darkcyan;
	background-color: cadetblue;
    width: fit-content;
	margin-left: 15px;
    padding: 7px;
    border-radius: 12px;
	cursor: pointer;
} #see-more-skills:hover {background-color: darkcyan; transition: 0.15s;}
#see-more {
	border: 4px solid darkcyan;
	background-color: cadetblue;
    width: fit-content;
    margin-top: 25px !important;
	margin: auto;
    padding: 7px;
    border-radius: 12px;
	cursor: pointer;
} #see-more:hover {background-color: darkcyan; transition: 0.15s;}

.see-more-contact {
    display: flex;
    align-items: baseline;
}
.see-more-contact #see-more {margin-right: auto;}
.see-more-contact h3 {
	position: absolute;
    margin: 31px 22px 0 0;
	width: -webkit-fill-available;
	height: 0;
	border: none;
}

.bandeau {
	border-top: 2px solid #fff;
	background-color: cadetblue;
	font-family: "Poppins", sans-serif;
}
.formation {
	padding-bottom: 25px;
	color: white;
    font-family: 'firamonobold', 'Space-mono', monospace, cursive;
	margin: 0px 25px 0px 25px;;
	text-align: center;
}
.formation h3 {
	text-align: center;
	color: white;
	font: 700 30px 'Space Mono', monospace;
}
.formation li {
	text-decoration: none;
}

@media screen and (max-width: 850px) {
	body, .textTab {font-size: larger !important;}
	#helloText {font-size: 2.5rem;}

    .containerTab {
        flex-direction: column;
        align-items: center;
		padding: 0;
		margin: 0% 5% 5%;
    }

    .social-icons {
        flex-direction: row;
        justify-content: center;
    }

    .social-link {margin: 0 30px;}

    .profile-picture {
        padding: 45px 0; /* Ajuste le padding */
		max-width: 300px;
    	width: -webkit-fill-available;
    }

	.textTab, .text-content {padding-left: 0;}

	.cardBox {text-align: -webkit-center;}
	.card {width: 200px; height: 200px;}
	.skills-icons-self {height: 55px;}
}

@media screen and (max-width: 475px) {
	.formation h3 {text-align: right;}
}